.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding-top: 100px;
    gap: 100px;
    margin-bottom: 400px;
    
}
.sec-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    
}
.sec-3-2{
    
    display: flex;
    gap:50px;
}
.box2{
    width:370px;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    gap: 1px;
    
}
.box2 >:nth-child(1){
    font-size: 22px;
    font-weight: 600;
    
}
.skills{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
.skills-1{
    display: flex;
    align-items: start;
    gap:10px;
    
}
.skills-1 img{
    width: 30px;
    
}
.skills-1-2{
    display: flex;
    flex-direction: column;
    
}
.skills-1-2>:nth-child(1){
    font-size: 18px;
    font-weight: 600;
    
}
@media(max-width:1024px){
    .sec3{
        padding-bottom: 400px;
        height: 100%;
    }
    .sec-3-2{
    flex-direction: column;
}
.box2{
    width:500px;
    gap: 10px;
    
}
.box2 >:nth-child(1){
    font-size: 28px;   
}
.skills{
    
    gap: 50px;
}
.skills-1{ 
    gap:15px;
    
}
.skills-1 img{
    width: 35px;
    
}

.skills-1-2>:nth-child(1){
    font-size: 23px;
    
    
}
}
@media(max-width:767px){
    .sec3{
         padding-top: 0px;
    
   
    }
    .sec-3-2{
    flex-direction: column;
    padding-bottom: 0px;
    
}
.box2{
    width:300px;
    
    gap: 25px;
    
}
.box2 >:nth-child(1){
    font-size: 18px;
   
    
}
.skills{
    
    gap: 25px;
}
.skills-1{
    
    gap:10px;
    
}
.skills-1 img{
    width: 30px;
    
}

.skills-1-2>:nth-child(1){
    font-size: 18px;
    
    
}
}

