.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding-top: 130px;
    
}
.sec-5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-5-1>:nth-child(1){
    font-weight: 600;
}
.sec-5-2{
    display: flex;
    gap: 30px;
    border: 2px solid black;
    padding: 25px;
    border-radius: 30px;
    margin-bottom: 50px;
}
.a1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.a2{
    display: flex;
    align-items: center;
    gap:10px;
}
.a1 img{
   width: 30px; 
}
.a2 img{
   width: 30px; 
}
.a1 span,.a2 span{
    font-weight: 600;
}
@media(max-width:767px){
    .sec-5-2{
        gap:20px;
        padding:10px;
        
    }
}